.game {
    width: 700px;
    height:700px;
    margin:  10vh auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dice--container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 30px;
    row-gap: 60px;
}

.game--button {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    text-align: center;
    margin-top: 100px;
}

.game--button:focus {
    outline: none;
}

.game--button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.record--current {
    margin-top:40px;
    font-family: 'Karla', sans-serif;
}

.record--top {
    margin-top:20px;
    font-family: 'Karla', sans-serif;
}

.records {
    font-size:20px;
    text-align: center;
}